@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #E0EFDE, #817F75 ) ;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #817F75;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #4C1E4F;
    text-align: center;
    text-shadow: 1px 1px 2px #250f27c0;
}

h2{
    color: #A1869E;
}

p {
    text-align: justify ;
}